<div class="story-body scrollytelling">

 <h3></h3>
 <p>

 </p>
 <div id="chart-9" class="chart"></div>

 <div class="steps" id='test'>

      <div class='step' id="blank">
        <p>The New York rat sight data-set has a category of complaints that comes from each zip code.</p>
        <p>Where are the zip codes of New Yorkers who have been complaining of rats frequently or less frequently?</p>
      </div>

      <div class='step' id="second-step">
        <p>Less than 30 zip codes have reported less than 100 complaints since creation of rat sight data-set in 2010. They are wide-spread across the continent.</p>
      </div>

      <div class='step' id='third-step'>
        <p>Most zip codes have reported in the range of below 1000 complaints. Almost all Queens and Staten Island zip codes fall in this category</p>
      </div>

      <div class='step' id='forth-step'>
        <p> There is no Staten Island zip code that has reported above 2000 complaints.</p>
      </div>

      <div class='step' id='fifth-step'>
        <p>Only 12 zip codes have recorded complaints in the range of 3000 and 4000. Four of them are situated in Brooklyn, two in Bronx and four situated in Manhattan </p>
      </div>

      <div class='step' id='sixth-step'>
        <p>Only one zip code 11221 situated in Brooklyn has ever recorded over 4000 complaints.</p>
      </div>

      <div class='step' id='reset-step'>
        <p>That's New York and its rat complaints per zip code.</p>
      </div>

 </div>
</div>


<script src="scripts/09-map.js"></script>
<script src="scripts/scrollytelling.js"></script>

