---
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Inside Data"
author:
    name: "MUSINGUZI BLANSHE"

    
analytics": ""

---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->
<p class="bio">A Ugandan and Master of Science in Data Journalism (2020) student at Columbia University.<br>Former politics and business reporter at <a href="https://ugandaradionetwork.com/a/user.php?u=3894">Uganda Radio Network.</a><br>Brefore, I was a reporter at Uganda's <a href="https://www.monitor.co.ug/page/search/DailyMonitor/691150-691150-view-asSearch-m0nqyo/index.html">Daily Monitor.</a></p>

{{!< default}}

<p><a href="birth.hbs">Birth rate</a></p>

<p><a href="unemployment.hbs">Unemployment in US</a></p>

<p><a href="trade.hbs">China and US trade flow with Afrca</a></p>


<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">