---
headline: "DATA JOURNALISM"
published_date: "October 13, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Little Columns Project Template"
author:
    name: "MUSINGUZI BLANSHE"
    url: "http://jonathansoma.com/"
    twitterHandle: "@dangerscarf"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<p><a href="birth.hbs">Birth rate</a></p>

<p><a href="unemployment.hbs">Unemployment in US</a></p>
<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

