---
headline: MUSINGUZI BLANSHE
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Data"
author:
    name: "MUSINGUZI BLANSHE"

    
analytics": ""

---

<div class="story-body">

  <!-- 
    This line means, use default.hbs layout from src/html/layouts/
  -->
  <p class="bio">A Ugandan and Master of Science in Data Journalism (2020) student at Columbia University.<br>Former politics and business reporter at <a href="https://ugandaradionetwork.com/a/user.php?u=3894">Uganda Radio Network.</a><br>Brefore, I was a reporter at Uganda's <a href="https://www.monitor.co.ug/page/search/DailyMonitor/691150-691150-view-asSearch-m0nqyo/index.html">Daily Monitor.</a></p>

  {{!< default}}

  <div class='project-container'>
    <div class='project'>
      <p><a href="birth.hbs">Birth rate</a>: The birth rate has been falling among all race groups, but far more among American-Indian-Alaska natives</p>
      <p><img src="images/birth.png"></p>
    </div>
    
    <div class='project'>
      <p><a href="unemployment.hbs">Unemployment in US</a>: President Trump keeps boosting about lowering unemployment. But how has the rate in the first half of the year across the states?</p>
        <p><img src="images/top.png"></p>
    </div>

    <div class='project'>
      <p><a href="trade.hbs">China and US trade flow with Afrca</a>:The surge in China-Africa trade volume has been bolstered by export credit facilitation that Africa importers receive from Chinese government owned banks</p>
      <p><img src="images/export.png"></p>
    </div>
  </div>
</div>

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">